.h-100v {
  min-height: 100vh; }

.auth-box {
  padding: 2rem 2rem 1rem 2rem;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 5px 0;
  color: #ccc; }
  .auth-box .logo {
    margin: 2rem auto; }
  .auth-box h3 {
    color: #34495e;
    margin-bottom: 2rem; }
  .auth-box h4 {
    color: #34495e; }
  .auth-box input {
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background: #f8f8f8; }
    .auth-box input:focus {
      box-shadow: 0 0; }
  .auth-box button {
    width: 100%;
    margin-top: 1rem; }
  .auth-box a {
    text-decoration: none; }
    .auth-box a:hover {
      font-weight: bold; }
  .auth-box .helper {
    margin-top: 1rem;
    font-size: 15px;
    color: #aaa; }
  .auth-box label {
    color: #e74c3c; }
  .auth-box #signup-form {
    display: none; }

#navbar {
  background: #fff;
  color: #ccc;
  box-shadow: 0 0 5px 0; }
  #navbar .fa-fw {
    font-size: 1.8rem;
    color: #ccc; }
    #navbar .fa-fw:hover {
      color: #aaa; }

.feed {
  margin: 0 auto; }

.feed-row {
  margin: 3rem auto;
  background: #fff;
  box-shadow: 0 0 5px 0;
  border: 1px solid #ccc;
  color: #ccc; }
  .feed-row .feed-post {
    padding: 0; }
    .feed-row .feed-post h3 {
      position: relative;
      margin-left: 3.25rem;
      top: 0.6rem;
      font-size: 1rem;
      text-transform: lowercase;
      color: #34495e; }
      .feed-row .feed-post h3 a {
        color: inherit;
        text-decoration: none; }
        .feed-row .feed-post h3 a:hover {
          font-weight: bold; }
    .feed-row .feed-post .feed-user {
      padding: 0.5rem 1rem;
      margin-bottom: 0.75rem; }
      .feed-row .feed-post .feed-user img.thumbnail {
        position: absolute;
        border-radius: 50%;
        border: 1px solid #ccc; }
    .feed-row .feed-post .feed-media img.feed-img {
      max-width: 100%; }
    .feed-row .feed-post .feed-media video {
      max-width: 100%; }
    .feed-row .feed-post .feed-reaction {
      padding: 0.5rem 0;
      text-align: center;
      border-bottom: 1px solid #ccc; }
      .feed-row .feed-post .feed-reaction span {
        position: absolute;
        top: 5px;
        margin-left: 5px; }
      .feed-row .feed-post .feed-reaction .far.fa-heart:hover {
        cursor: pointer;
        color: #e74c3c; }
      .feed-row .feed-post .feed-reaction .far.fa-comment:hover {
        cursor: pointer;
        color: #3498db; }
      .feed-row .feed-post .feed-reaction .fas {
        cursor: pointer; }
        .feed-row .feed-post .feed-reaction .fas.fa-heart {
          color: #e74c3c; }
        .feed-row .feed-post .feed-reaction .fas.fa-comment {
          color: #3498db; }
    .feed-row .feed-post .feed-comments .comment {
      padding: 0.35rem 0.5rem; }
      .feed-row .feed-post .feed-comments .comment a {
        font-weight: bold; }
      .feed-row .feed-post .feed-comments .comment .comment-user {
        color: #34495e; }
      .feed-row .feed-post .feed-comments .comment .comment-content {
        color: #bbb; }
    .feed-row .feed-post .feed-comments input {
      width: 100%;
      border: 0;
      border-top: 1px solid #ccc;
      padding: 0.25rem 0.5rem;
      font-weight: 300; }

body {
  background: #fafafa; }

/*# sourceMappingURL=custom.css.map */
